.project-header {
  padding-top: 2rem;
  margin-bottom: calc(var(--spacing) / 2);

  & > h1 {
    font-size: 3rem;
    padding-bottom: 1.5rem;
  }

  & > p {
    font-size: 1.175rem;
  }
}

body.page.projects .page__content > * {
  text-align: left;
}