<article class="project--card">
  <h3 class="underline">
    <a href="{{ .RelPermalink }}">
      {{ .Title }}
    </a>
  </h3>
  <p>{{ .Param `description` }}</p>
  <div class="project--footer">
    <div class="project--meta">
      {{ if .Param `homepage` }}
      <a title="{{ .Title }} homepage" aria-label="{{ .Title }} homepage" href="{{ .Param `homepage` }}">
        {{ partial "utils/inline-svg.html" "home" }}
      </a>
      {{ end }}
      {{ if .Param `npm` }}
      <a title="{{ .Title }} NPM package" aria-label="{{ .Title }} NPM package" href="{{ .Param `npm` }}">
        {{ partial "utils/inline-svg.html" "languages/npm" }}
      </a>
      {{ end }}
      {{ if .Param `repository` }}
      <a title="{{ .Title }} repository" aria-label="{{ .Title }} repository" href="{{ .Param `repository` }}">
        {{ partial "utils/inline-svg.html" "github" }}
      </a>
      {{ end }}
    </div>
    <ul class="project--languages">
      {{ range .Params.languages }}
      <li title="Built with {{ . }}" aria-label="Built with {{ . }}">
        {{ partial "utils/inline-svg.html" (printf "languages/%s" (lower .)) }}
      </li>
      {{ end }}
    </ul>
  </div>
</article>