{{ define "open-graph" }}
{{ partial "open-graph/article.html" . }}
{{ end }}

{{ define "main" }}

<div class="page__content">
  <header class="project-header">
    <h1>{{ .Title }}</h1>
    <p>{{ .Params.description }}</p>
    <div class="project__footer">
      <div class="project__meta">
        {{ if .Param `homepage` }}
        <a title="{{ .Title }} homepage" aria-label="{{ .Title }} homepage" href="{{ .Param `homepage` }}">
          {{ partial "utils/inline-svg.html" "home" }}
        </a>
        {{ end }}
        {{ if .Param `npm` }}
        <a title="{{ .Title }} NPM package" aria-label="{{ .Title }} NPM package" href="{{ .Param `npm` }}">
          {{ partial "utils/inline-svg.html" "languages/npm" }}
        </a>
        {{ end }}
        {{ if .Param `repository` }}
        <a title="{{ .Title }} repository" aria-label="{{ .Title }} repository" href="{{ .Param `repository` }}">
          {{ partial "utils/inline-svg.html" "github" }}
        </a>
        {{ end }}
      </div>
      <ul class="project__languages">
        {{ range .Params.languages }}
        <li title="Built with {{ . }}" aria-label="Built with {{ . }}">
          {{ partial "utils/inline-svg.html" (printf "languages/%s" (lower .)) }}
        </li>
        {{ end }}
      </ul>
    </div>
  </header>
  {{ .Content }}
</div>

{{ end }}