.landing--contact-main {
  display: flex;
  max-width: 42rem;
  width: var(--container-width);
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.landing--contact-profile,
.landing--contact-content {
  margin: 0 2rem var(--spacing);
}

.landing--contact-title {
  font-size: 1.5rem;
}

.landing--contact-list {
  list-style: none;
  padding: 0;
  margin: 0 0 1rem;
  font-size: 1.125rem;

  & li:first-of-type {
    font-size: 1.375rem;
    font-weight: 500;
    color: var(--header);
  }

  & li {
    letter-spacing: 0.0425em;
  }
}

.landing--contact-profile {
  display: none;
  background-color: #f1f1f1;
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
}

.landing-contact-social {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;

  & li:not(:last-of-type) {
    margin-right: 0.5rem;
  }
}

@media (--viewport-small) {
  .landing--contact-main {
    flex-direction: column;
  }

  .landing--contact-profile {
    margin-bottom: 2rem;
  }
}
