.landing__contact-main {
  max-width: 42rem;
  width: var(--container-width);
  margin: 0 auto var(--spacing);
  text-align: center;
}

.landing__contact-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;

  &::after {
    right: 0;
    margin: 0 auto;
  }
}

.landing-contact-social {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1.5rem;
  font-size: 1.5rem;
}

@media (--viewport-small) {
  .landing__contact-main {
    flex-direction: column;
  }
}
