.hero--main {
  max-width: 56rem;
  max-height: 56rem;
  width: calc(100% - 4rem);
  height: 90vh;
  margin: 0 auto;
  display: flex;
}

.hero--left {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: right;
  font-size: 1rem;

  & h1 {
    font-size: 4rem;
    line-height: 0.95;
    padding: 0;
    margin-bottom: 0.5rem;

    & span {
      display: block;
      margin-bottom: 0.15em;
      font-size: 0.6em;
      color: var(--light);
      font-weight: lighter;
    }
  }

  & h2 {
    font-size: 1.625rem;
    color: var(--light);
    padding: 0;
    font-weight: lighter;
  }
}

.hero--right {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero--profile {
  font-size: 24rem;
  width: 1em;
  height: 1.175em;
  overflow: hidden;
  transform: translate3d(0, -15%, 0) rotate(-15deg);
  position: relative;

  & img,
  & svg {
    position: absolute;
  }

  & svg:first-of-type {
    top: calc(0.175em + 2px);
  }

  & img,
  & svg:last-of-type {
    bottom: 0;
  }

  & svg:last-of-type {
    bottom: -2px;
  }

  & svg {
    left: -2px;
    width: 1.0125em;
    height: 0.5em;
    fill: var(--background);
  }

  & img {
    height: 1.25em;
    width: auto;
    display: none;
    transform: rotate(15deg) translate3d(15%, 25%, 0);
    filter: drop-shadow(4px 6px 4px rgba(0, 0, 25, 0.1)) brightness(1.05);
  }

  &.loaded img {
    display: block;
    animation: slide-up 875ms cubic-bezier(0.23, 1, 0.32, 1) 1 normal forwards;
  }
}

.no-js .hero--profile img {
  display: block;
  animation: slide-up 875ms cubic-bezier(0.23, 1, 0.32, 1) 1 normal forwards;
}

.hero-profile-fill {
  height: 0.975em;
  width: 0.975em;
  position: absolute;
  right: 0;
  bottom: 0.05rem;
  left: 0;
  margin: auto;
  background: linear-gradient(
    325deg,
    var(--dark-green) 0%,
    var(--light-green) 100%
  );
}

@keyframes slide-up {
  0% {
    transform: rotate(15deg) translate3d(18%, 25%, 0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: rotate(15deg) translate3d(18%, 6%, 0);
  }
}

@media (--viewport-xlarge) {
  .hero--profile {
    font-size: 26rem;
  }
}

@media (--viewport-small) {
  .hero--main {
    flex-direction: column;
    padding-top: 4rem;
    max-height: none;
    height: auto;
    margin-bottom: 4rem;
  }

  .hero--left,
  .hero--right {
    flex: unset;
  }

  .hero--right {
    order: -1;
  }

  .hero--left {
    font-size: 0.875rem;
  }

  .hero--profile {
    font-size: 16rem;
  }
}
