.hero__main {
  max-width: 56rem;
  max-height: 56rem;
  width: calc(100% - 4rem);
  height: 80vh;
  margin: 0 auto;
  display: flex;
}

.hero__left {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: right;
  font-size: 1rem;

  & h1 {
    font-size: 4rem;
    line-height: 0.95;
    padding: 0;
    margin-bottom: 0.5rem;

    & span {
      display: block;
      margin-bottom: 0.15em;
      font-size: 0.6em;
      color: var(--light);
      font-weight: lighter;
    }
  }

  & h2 {
    font-size: 1.625rem;
    color: var(--light);
    padding: 0;
    font-weight: lighter;
  }
}

.hero__right {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (--viewport-xlarge) {
  .hero__right .avatar {
    font-size: 28rem;
  }
}

@media (--viewport-small) {
  .hero__main {
    flex-direction: column;
    padding-top: 4rem;
    max-height: none;
    height: auto;
    margin-bottom: 4rem;
  }

  .hero__left,
  .hero__right {
    flex: unset;
  }

  .hero__right {
    order: -1;
  }

  .hero__left {
    font-size: 0.875rem;
  }

  .hero__right .avatar {
    font-size: 16rem;
  }
}
