.not-found--main {
  text-align: center;
  max-width: var(--content-max-width);
  width: var(--content-width);
  margin: 6rem auto 0;

  & h1 {
    font-size: 5rem;
    color: var(--primary);
    line-height: 1;
    margin-bottom: 0;
  }

  & h2 {
    font-size: 2rem;
  }
}
