.avatar {
  font-size: 24rem;
  width: 1em;
  height: 1.175em;
  overflow: hidden;
  transform: translate3d(0, -15%, 0) rotate(-15deg);
  position: relative;

  & img,
  & svg {
    position: absolute;
  }

  & svg:first-of-type {
    top: calc(0.175em + 2px);
  }

  & img,
  & svg:last-of-type {
    bottom: 0;
  }

  & svg:last-of-type {
    bottom: -2px;
  }

  & svg {
    left: -2px;
    width: 1.0125em;
    height: 0.5em;
    fill: var(--background);
  }

  & img {
    height: 1.25em;
    width: auto;
    display: none;
    user-select: none;
    pointer-events: none;
    transform: rotate(15deg) translate3d(15%, 25%, 0);
    filter: drop-shadow(4px 6px 4px rgba(0, 0, 25, 0.1)) brightness(1.05);
  }
}

.avatar.static img {
  display: block;
  transform: rotate(15deg) translate3d(18%, 6%, 0);
}

.no-js .avatar:not(.static) img,
.avatar.loaded:not(.static) img {
  display: block;
  animation: slide-up 875ms cubic-bezier(0.23, 1, 0.32, 1) 1 normal forwards;
}

.avatar__fill {
  height: 0.975em;
  width: 0.975em;
  position: absolute;
  right: 0;
  bottom: 0.05rem;
  left: 0;
  margin: auto;
  background: linear-gradient(
    325deg,
    var(--dark-green) 0%,
    var(--light-green) 100%
  );
}

@keyframes slide-up {
  0% {
    transform: rotate(15deg) translate3d(18%, 25%, 0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: rotate(15deg) translate3d(18%, 6%, 0);
  }
}
