html {
  font-family: var(--body-font);
  font-size: 16px;
  line-height: 1.7;
  color: var(--body);
}

@media (--viewport-large) {
  html {
    font-size: 18px;
  }
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
ul,
ol,
dd,
p,
figure,
pre,
table,
fieldset,
hr {
  margin: 0 0 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
thead {
  font-family: var(--header-font);
  color: var(--header);
  letter-spacing: 0.0325em;
  font-weight: 500;
}

p {
  font-size: 1.125rem;
}
