html {
  font-family: var(--body-font);
  font-size: 16px;
  line-height: 1.7;
  color: var(--body);
}

@media (--viewport-large) {
  html {
    font-size: 18px;
  }
}

body {
  min-height: 100vh;
  background-color: var(--background);
}

:--heading,
hgroup,
ul,
ol,
dd,
p,
figure,
pre,
table,
fieldset,
hr {
  margin: 0 0 1.5rem;
}

:--heading,
hgroup,
thead {
  font-family: var(--header-font);
  color: var(--header);
  letter-spacing: var(--letter-spacing-wide);
  font-weight: 500;
}

p {
  font-size: 1.175rem;
}

a {
  color: #0162c5;
  text-decoration: none;

  &:visited {
    color: #324fa2;
  }

  &:hover {
    color: #014f9e;
    text-decoration: underline;
  }
}
