html {
  font-family: var(--body-font);
  font-size: 16px;
  line-height: 1.675;
  color: var(--body);
}

@media (--viewport-large) {
  html {
    font-size: 18px;
  }
}

body {
  min-height: 100vh;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
}

.site-header {
  flex: 0 0 auto;
}

.site-content {
  flex: 1 0 auto;
}

:--heading,
hgroup,
ul,
ol,
dd,
p,
figure,
pre,
table,
fieldset,
hr {
  margin: 0 0 1.75rem;
}

:--heading,
hgroup,
thead {
  font-family: var(--header-font);
  color: var(--header);
  letter-spacing: var(--letter-spacing-wide);
  line-height: 1.375;
  padding-bottom: 0.075em;
  font-weight: 600;
}

p {
  font-size: 1.125rem;
}

a {
  color: #407899;
  text-decoration: none;

  &:visited {
    color: #5292b7;
  }

  &:hover {
    color: #366681;
    text-decoration: underline;
  }
}

h2 {
  font-size: 1.75rem;
}
