.page--content {
  margin-bottom: 6rem;

  & > :--heading,
  & > p {
    width: var(--content-width);
    max-width: var(--content-max-width);
    margin-left: auto;
    margin-right: auto;
  }

  & > p {
    text-align: center;
  }
}

.page--content > :--heading,
:--heading.underline {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -0.325rem;
    width: 4rem;
    height: 0.225rem;
    background-color: var(--primary);
    border-radius: 0.225rem;
  }

  &.center::after {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (--viewport-small) {
  .page--content {
    & > :--heading {
      text-align: center;

      &::after {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
