.page--content {
  margin-bottom: var(--spacing);

  & > * {
    width: var(--content-width);
    max-width: var(--content-max-width);
    margin-left: auto;
    margin-right: auto;
  }

  & > p {
    text-align: center;
  }

  & > h1 {
    font-size: 3rem;
    margin: calc(var(--spacing) / 3) auto var(--spacing);
  }

  & li {
    font-size: 1.225rem;
  }

  & pre {
    font-size: 0.875rem;
    padding: 0.5rem 0.5rem 0.5rem 0.75rem;
    border-radius: 0.25rem;
  }

  & > div.highlight > pre {
    overflow-x: auto;
  }

  & strong {
    color: var(--header);
  }

  & > p > code {
    font-size: 0.925rem;
    background-color: #f1f1f1;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    padding: 2px 4px;
    color: var(--header);
  }

  & > :--heading:not(:first-child) {
    padding-top: 1.25em;
  }

  & > ol,
  & > ul {
    width: auto;
  }
}

.page--content > :--heading,
:--heading.underline {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -0.325rem;
    width: 4rem;
    height: 0.125em;
    min-height: 0.225rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
  }

  &.center::after {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (--viewport-small) {
  .page--content {
    & > :--heading {
      text-align: center;

      &::after {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
