.feature--container {
  display: flex;
  flex-flow: row wrap;
  max-width: var(--container-max-width);
  width: var(--container-width);
  margin: 0 auto;
}

.feature--main {
  flex: 0 1 calc(33.3334% - 4rem);
  margin: 0 auto var(--spacing);
}

.feature--picture-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.feature--picture {
  width: 12rem;
  height: 12rem;
  object-fit: contain;
}

.feature--content {
  text-align: center;
}

.feature--title {
  font-size: 1.375rem;
}

.feature--text {
  margin-bottom: 0;
}

@media (--viewport-small) {
  .feature--main {
    flex-basis: 100%;
  }

  .feature--text {
    max-width: var(--content-max-width);
    margin-left: auto;
    margin-right: auto;
  }
}
