.feature--container {
  display: flex;
  flex-flow: row wrap;
  max-width: var(--container-max-width);
  width: var(--container-width);
  margin: 0 auto 4rem;
}

.feature--main {
  flex: 0 1 calc(33.3334% - 4rem);
  margin: 0 auto 4rem;
}

.feature--icon {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;

  & svg {
    height: 10rem;
    width: 10rem;
    fill: var(--green);
  }
}

.feature--content {
  text-align: center;
}

.feature--title {
  font-size: 1.375rem;
}

@media (--viewport-small) {
  .feature--container {
    margin-bottom: 0;
  }

  .feature--main {
    flex-basis: 100%;
  }

  .feature--text {
    max-width: var(--content-max-width);
    margin-left: auto;
    margin-right: auto;
  }
}
