.feature__container {
  max-width: var(--container-max-width);
  width: var(--container-width);
  margin: 0 auto;
}

.feature__main {
  margin-bottom: var(--spacing);

  & > div {
    flex: 0 0 50%;
  }

  &:nth-of-type(even) {
    flex-direction: row-reverse;
  }
}

.feature__picture-container {
  display: flex;
  justify-content: center;
}

.feature__picture {
  width: 20rem;
  height: 20rem;
  object-fit: contain;
}

.feature__content {
  text-align: center;
}

.feature__title {
  font-size: 1.75rem;
}

.feature__text {
  margin: 0 auto 3rem;
  max-width: 24rem;
}

.feature__tech-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.feature__tech-list-item {
  margin: 0 0.75rem;

  & > svg {
    display: block;
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--light);
    margin: 0 auto;
  }

  & > span {
    font-size: 0.825rem;
  }
}

@media (--viewport-medium) {
  .feature__main {
    display: flex;
  }
}

@media (--viewport-small) {
  .feature__picture-container {
    margin-bottom: 2rem;
  }

  .feature__picture {
    width: 14rem;
    height: 14rem;
  }

  .feature__text {
    max-width: var(--content-max-width);
    margin-left: auto;
    margin-right: auto;
  }
}
