.footer__main {
  font-size: 0.875rem;
  margin-top: calc(var(--spacing) / 2);
  padding: 3rem 0 2rem;
  position: relative;

  & > .footer__main__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 1rem;
    width: var(--container-width);
    max-width: var(--container-max-width);
  }

  & a {
    color: var(--body);

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}

@media (--viewport-small) {
  .footer__main {
    font-size: 0.925rem;
  }

  .footer__main span {
    flex: 0 0 100%;
    text-align: center;

    &::before {
      display: none;
    }
  }
}
