.hero--main {
  max-width: 56rem;
  max-height: 72rem;
  width: calc(100% - 4rem);
  height: 85vh;
  margin: 0 auto;
  display: flex;
}

.hero--left {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: right;

  & h1 {
    font-size: 4rem;
    font-weight: 500;
    line-height: 0.95;
    margin-bottom: 0;

    & span {
      font-size: 0.6em;
      font-weight: 400;
      color: var(--light);
    }
  }

  & h2 {
    color: var(--light);
    font-weight: 400;
    margin-left: 0.5rem;
  }
}

.hero--right {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  & svg {
    width: 24rem;
    height: 24rem;
    transform: translate3d(0, -15%, 0) rotate(-15deg);
  }
}

@media (--viewport-small) {
  .hero--main {
    flex-direction: column;
    padding-top: 6rem;
  }

  .hero--left,
  .hero--right {
    flex: unset;
  }

  .hero--right {
    order: -1;
    justify-content: flex-start;
    transform: translateX(-45%);

    & svg {
      width: 18rem;
      height: 18rem;
    }
  }

  .hero--left {
    margin-top: -9rem;
    z-index: 2;
  }
}
