@import "./variables.css";
@import "./normalize.css";
@import "./base.css";
@import "./content.css";
@import "./footer.css";
@import "./nav.css";
@import "./hero.css";
@import "./gradients.css";
@import "./feature.css";
@import "./social-icon.css";
@import "./project.css";