.nav--main {
  display: flex;
  align-items: center;
  padding: 1.5rem 8rem;
}

.nav--branding {
  &,
  & svg {
    width: 2.5rem;
    height: 2.5rem;
  }

  & svg {
    transform: rotate(-8deg);
  }
}

.nav--email {
  margin-left: 2rem;
  font-family: var(--header-font);
}
