.nav__main {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1.5rem 4rem;
  max-width: 64rem;
  margin: 0 auto;
}

.nav__branding {
  &,
  & svg {
    width: 2.5rem;
    height: 2.5rem;
  }

  & svg {
    transform: rotate(-8deg);
  }
}

.nav__menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 2rem 0 auto;

  & .nav-item {
    font-size: 0.925rem;
    margin-right: 2rem;
    font-family: var(--header-font);
    color: var(--body);

    &:hover {
      color: var(--header);
    }

    & > a {
      color: currentColor;
      text-decoration: none;
    }

    &.active {
      position: relative;
      color: var(--header);

      &::before {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 50%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--primary-light);
      }
    }
  }
}

.nav__social-container {
  display: flex;
  gap: 1.5rem;
}

@media (--viewport-small) {
  .nav__main {
    padding: 1rem;
    align-items: flex-start;
  }

  .nav__branding svg {
    transform: none;
  }

  .nav__menu {
    margin-right: 0.25rem;

    & .nav-item {
      margin-right: 1.75rem;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  .nav__social-container {
    position: absolute;
    top: 4rem;
    right: 1.25rem;
    gap: 1.5rem;
    flex-direction: column;
    z-index: 2;
  }
}
