.nav--main {
  display: flex;
  align-items: center;
  padding: 1.5rem 8rem;
}

.nav--branding {
  &,
  & svg {
    width: 2.5rem;
    height: 2.5rem;
  }

  & svg {
    transform: rotate(-8deg);
  }
}

.nav--email {
  margin-left: 2rem;
  font-family: var(--header-font);
  color: var(--light);
  letter-spacing: 0.05em;
}

.nav--social-container {
  margin-left: auto;
  display: flex;

  & .social-icon {
    margin: 0 0.375rem;

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}

@media (--viewport-small) {
  .nav--main {
    padding: 1rem;
  }

  .nav--email {
    margin-left: 1.375rem;
  }
}
