.nav--main {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1.5rem 4rem;
  max-width: 64rem;
  margin: 0 auto;
}

.nav--branding {
  &,
  & svg {
    width: 2.5rem;
    height: 2.5rem;
  }

  & svg {
    transform: rotate(-8deg);
  }
}

.nav--menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 2rem 0 auto;

  & .nav-item {
    font-size: 0.925rem;
    margin-right: 2rem;
    font-family: var(--header-font);
    color: var(--body);

    &:hover {
      color: var(--header);
    }

    & > a {
      color: currentColor;
      text-decoration: none;
    }

    &.active {
      position: relative;
      color: var(--header);

      &::before {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 50%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--primary);
      }
    }
  }
}

.nav--social-container {
  display: flex;

  & .jsaari-social-icon {
    margin: 0 0.75rem 0 0;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

@media (--viewport-small) {
  .nav--main {
    padding: 1rem;
    align-items: flex-start;
  }

  .nav--branding svg {
    transform: none;
  }

  .nav--menu {
    margin-right: 2rem;
  }

  .nav--social-container {
    position: absolute;
    top: 1rem;
    right: 1rem;
    flex-direction: column;

    & .jsaari-social-icon {
    margin: 0.375rem 0;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
  }
}
