.project--landing-title {
  margin-bottom: 2rem;
}

.project--card {
  width: calc(var(--content-width) - 2rem);
  max-width: calc(var(--content-max-width) - 2rem);
  margin: 0 auto 2rem;
  padding: 1rem;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
}

.project--footer {
  display: flex;
}

.project--languages {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;

  & li {
    margin-right: 0.5rem;

    &:last-of-type {
      margin-right: 0;
    }
  }

  & svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--light);
    border-radius: 4px;
  }
}

.project--meta {
  display: flex;

  &::after {
    content: "";
    width: 2px;
    border-radius: 2px;
    height: 1.5rem;
    margin: 0 1rem;
    background-color: var(--primary);
  }

  & a {
    margin-right: 0.5rem;

    &:last-of-type {
      margin-right: 0;
    }

    &:hover svg {
      fill: var(--header);
    }
  }

  & svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--body);
  }
}
