a.jsaari-social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  margin: -0.5rem;

  & svg {
    height: 1.5em;
    width: 1.5em;
    fill: var(--body);
  }

  &:hover svg {
    fill: var(--header);
  }
}
