a.jsaari-social-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  & svg {
    height: 1.125em;
    width: 1.125em;
    fill: var(--body);
  }

  &:hover svg {
    fill: var(--header);
  }
}
