@custom-media --viewport-small (width <= 56em);
@custom-media --viewport-medium (width > 56em);
@custom-media --viewport-large (width > 72em);

:root {
  --header-font: "Lexend Deca", cursive;
  --body-font: "Crimson Text", cursive;

  --container-width: calc(100% - 4rem);
  --container-max-width: 56rem;

  --content-width: calc(100% - 4rem);
  --content-max-width: 32rem;

  --body: #546375;
  --header: #0C2539;
  --light: #8c969d;

  --accent: #1d2465;
}
