@custom-media --viewport-small (width <= 42em);
@custom-media --viewport-medium (width > 42em);
@custom-media --viewport-large (width > 72em);
@custom-media --viewport-xlarge (width > 92em);

@custom-selector :--heading h1, h2, h3, h4, h5, h6;

:root {
  --header-font: "Source Serif 4", sans-serif;
  --body-font: "Source Serif 4", serif, cursive;

  --letter-spacing-wide: 0.0175em;

  --container-width: calc(100% - 4rem);
  --container-max-width: 56rem;

  --content-width: calc(100% - 4rem);
  --content-max-width: 40rem;

  --body: #333c48;
  --header: #030d17;
  --light: #697782;

  --blue: #1d2465;

  --orange: #ef5019;
  --yellow: #efed19;
  --light-green: #deef12;
  --green: #a4da50;
  --dark-green: #3eb6b4;
  --darker-green: #34a5a3;

  --primary: var(--green);
  --secondary: var(--blue);
  --background: #fafafb;

  --primary-light: #ddeec3;

  --spacing: 6rem;

  --box-shadow: 0 8px 24px -18px rgba(0, 0, 0, 0.4);
}

@media (--viewport-large) {
  :root {
    --light: #859098;
    --spacing: 8rem;
  }
}

@media (--viewport-xlarge) {
  :root {
    --spacing: 10rem;
  }
}

@media (--viewport-small) {
  :root {
    --content-width: calc(100% - 2rem);
  }
}
