@custom-media --viewport-small (width <= 42em);
@custom-media --viewport-medium (width > 42em);
@custom-media --viewport-large (width > 72em);
@custom-media --viewport-xlarge (width > 92em);

@custom-selector :--heading h1, h2, h3, h4, h5, h6;

:root {
  --header-font: "Lexend Deca", cursive;
  --body-font: "Crimson Text", cursive;

  --letter-spacing-wide: 0.0375em;

  --container-width: calc(100% - 4rem);
  --container-max-width: 56rem;

  --content-width: calc(100% - 4rem);
  --content-max-width: 36rem;

  --body: #495666;
  --header: #0c2539;
  --light: #697782;

  --blue: #1d2465;

  --orange: #ef5019;
  --yellow: #efed19;
  --light-green: #deef12;
  --green: #a4da50;
  --dark-green: #3eb6b4;
  --darker-green: #34a5a3;

  --primary: var(--green);
  --secondary: var(--blue);
  --background: #fafafb;

  --spacing: 6rem;

  --box-shadow: 0 10px 18px -14px rgba(0, 0, 0, 0.225);
}

@media (--viewport-large) {
  :root {
    --light: #859098;
    --spacing: 8rem;
  }
}

@media (--viewport-xlarge) {
  :root {
    --spacing: 10rem;
  }
}
