<article class="post-item">
  <header>
    {{ if (isset .Params "image") }}
    <a title="{{ .Title }}" href="{{ .RelPermalink }}">
      <img loading="lazy" alt="{{ .Title }}" src="{{ .Params.image | relURL }}">
    </a>
    {{ end }}
    <h2 class="underline">
      <a title="{{ .Title }}" href="{{ .RelPermalink }}">
        {{ .Title }}
      </a>
    </h2>
    <div class="post-item-meta">
      <p>
        <time datetime="{{ .Date.Format `2006-01-02T15:04:05Z0700` }}">
          {{ .Date.Format .Site.Params.dateFormat }}
        </time>
        by
        <adress>
          {{ .Site.Params.author }}
        </adress>
      </p>
    </div>
  </header>
  <p>
    {{ .Summary }}
  </p>
</article>