{{ define "open-graph" }} {{ partial "open-graph/article.html" . }} {{ end }} {{
define "main" }}

<div class="page__content">
  <header class="post-header">
    {{ partial "utils/img.html" . }}
    <h1>{{ .Title }}</h1>
    <div class="post-meta">
      <span>
        <time datetime="{{ .Date.Format `2006-01-02T15:04:05Z0700` }}">
          {{ .Date.Format .Site.Params.dateFormat }}
        </time>
        &middot; {{ .ReadingTime }} min read
      </span>
    </div>
  </header>
  {{ .Content }}

  <div class="post-author">
    {{ partial "common/avatar.html" (dict "static" true) }}
    <div class="post-author-bio">
      <address>{{ .Site.Params.contact.name }}</address>
      <p>Developer</p>
    </div>
  </div>
</div>

{{ end }}
