{{ define "main" }}

<div class="page--content">
  <header class="post-header">
    <img alt="{{ .Title }}" src="{{ .Params.image | relURL }}">
    <h1 class="underline">{{ .Title }}</h1>
    <div class="post-meta">
      <img src="{{ `/images/avatar.png` | relURL }}">
      <div>
        <address>Jim Saari</address>
        <span><time datetime="{{ .Date.Format `2006-01-02T15:04:05Z0700` }}">{{ .Date.Format .Site.Params.dateFormat }}</time> &middot; {{ .ReadingTime }} min</span>
      </div>
    </div>
  </header>
  {{ .Content }}
</div>

{{ end }}