<nav class="nav--main">
  <a title="Home" aria-label="Home" class="nav--branding" href="/">
    {{ partial "utils/inline-svg.html" "logo" }}
  </a>

  <ul class="nav--menu">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    {{ $class := cond (or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .)) " active" "" }}
    {{ if and (findRE `^/posts/` $currentPage.RelPermalink) (eq .Identifier "posts") }}
      {{ $class = " active" }}
    {{ end }}
    {{ if and (findRE `^/projects/` $currentPage.RelPermalink) (eq .Identifier "projects") }}
      {{ $class = " active" }}
    {{ end }}
    <li class="nav-item{{ $class }}">
      <a href="{{ .URL }}" title="{{ .Title }}">
        {{ .Title }}
      </a>
    </li>
    {{ end }}
  </ul>

  <div class="nav--social-container">
    {{ partial "common/social-icon.html" .Site.Params.social.linkedin }}
    {{ partial "common/social-icon.html" .Site.Params.social.github }}
  </div>
</nav>