<div class="landing--contact-main">
  <!--<img class="landing--contact-profile" src="/images/contact.png" />-->
  <div class="landing--contact-content">
    <h3 class="landing--contact-title underline">Get in touch!</h3>
    <ul class="landing--contact-list">
      <li>
        {{ .Site.Params.contact.name }}
      </li>
      <li>
        <a href="tel:{{ .Site.Params.contact.phone }}">
          {{ .Site.Params.contact.phone }}
        </a>
      </li>
      <li>
        <a href="mailto:{{ .Site.Params.contact.email }}">
          {{ .Site.Params.contact.email }}
        </a>
      </li>
      <li>
        {{ .Site.Params.contact.location }}
      </li>
    </ul>
    <ul class="landing-contact-social">
      <li>
        {{ partial "common/social-icon.html" .Site.Params.social.linkedin }}
      </li>
      <li>
        {{ partial "common/social-icon.html" .Site.Params.social.github }}
      </li>
    </ul>
  </div>
</div>