<div class="landing--contact-main">
  <div class="landing--contact-left"></div>
  <div class="landing--contact-right">
    <div>
      <h3 class="landing--contact-title underline">Get in touch!</h3>
      <ul class="landing--contact-list">
        <li>
          {{ .Site.Params.contact.name }}
        </li>
        <li>
          {{ .Site.Params.contact.phone }}
        </li>
        <li>
          {{ .Site.Params.contact.email }}
        </li>
        <li>
          {{ .Site.Params.contact.location }}
        </li>
      </ul>
    </div>
  </div>
</div>