<div class="feature__main">
  <div class="feature__picture-container">
    {{ $image := (resources.Get .image).Process "webp" }}
    <img alt="{{ .title }} illustration" class="feature__picture" src="{{$image.RelPermalink}}" width="{{$image.Width}}" height="{{$image.Height}}" />
  </div>
  <div class="feature__content">
    <h3 class="feature__title center">
      {{ .title }}
    </h3>
    <p class="feature__text">
      {{ .text }}
    </p>
    {{ if isset . "tech" }}
      <ul class="feature__tech-list">
        {{ range .tech }}
          <li class="feature__tech-list-item">
            {{ partial "utils/inline-svg.html" (printf "languages/%s" (replaceRE "(\\s)" "_" (lower .))) }}
            <span>{{ . }}</span>
          </li>
        {{ end }}
      </ul>
    {{ end }}
  </div>
</div>