<div class="feature--main">
  <div class="feature--picture-container">
    <img alt="{{ .title }} illustration" class="feature--picture" src="{{ .image }}" />
  </div>
  <div class="feature--content">
    <h3 class="feature--title underline center">
      {{ .title }}
    </h3>
    <p class="feature--text">
      {{ .text }}
    </p>
    {{ if isset . "tech" }}
      <ul class="feature--tech-list">
        {{ range .tech }}
          <li class="feature--tech-list-item">
            {{ partial "utils/inline-svg.html" (printf "languages/%s" (lower .)) }}
            <span>{{ . }}</span>
          </li>
        {{ end }}
      </ul>
    {{ end }}
  </div>
</div>