{{ $type := "website" }}

{{ if (eq .Type "posts") }}
{{ $type = cond (.IsNode) "blog" "article" }}
{{ end }}


<meta property="og:title" content="{{ partial `utils/title.html` . }}">
<meta property="og:type" content="{{ $type }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:image" content="{{ cond (isset .Params `image`) .Params.image `/images/og-image.jpg` | absURL }}">
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
