{{ $src := .Page.Resources.GetMatch .Params.image }}

{{ $lqipw := default "20x" }}
{{ $smallw := default "800x" }}
{{ $mediumw := default "1200x" }}
{{ $largew := default "1500x" }}

{{ $lqip := $src.Resize $lqipw }}
{{ $small := $src.Resize $smallw }}
{{ $medium := $src.Resize $mediumw }}
{{ $large := $src.Resize $largew }}

{{ $img := imageConfig ($src.RelPermalink | printf "content/%s" ) }}

<div class="img"{{ if (eq $src.MediaType.SubType "jpeg") }}style="background-image:url(data:{{ $src.MediaType }};base64,{{ $lqip.Content | base64Encode }})"{{ end }}>
  <svg width="{{ $img.Width }}" height="{{ $img.Height }}" aria-hidden="true"></svg>
  <img
    loading="lazy"
    srcset="
    {{ if ge $src.Width `800` }}
      {{ with $small.RelPermalink }}, {{ . }} 800w{{ end }}
    {{ end }}
    {{ if ge $src.Width `1200` }}
      {{ with $medium.RelPermalink }}, {{ . }} 1200w{{ end }}
    {{ end }}
    {{ if ge $src.Width `1500` }}
      {{ with $large.RelPermalink }}, {{ . }} 1500w {{ end }}
    {{ end }}"
    src="{{ with $medium.RelPermalink }}{{ . }}{{ else }}{{ $src.RelPermalink }}{{ end }}"
    width="{{ $img.Width }}"
    height="{{ $img.Height }}"
    alt="{{ with .Params.alt }}{{ . }}{{ else }}{{ .Title }}{{ end }}"
  >
</div>