{{ $src := .Page.Resources.GetMatch .Params.image }}

{{ $preview := $src.Resize "20x jpg" }}
{{ $small := $src.Resize "500x jpg" }}
{{ $medium := $src.Resize "1000x jpg" }}
{{ $large := $src.Resize "1500x jpg" }}

{{ $img := imageConfig ($src.RelPermalink | printf "content/%s" ) }}

<div class="img"{{ if (eq $src.MediaType.SubType "jpeg") }}style="background-image:url(data:{{ $src.MediaType }};base64,{{ $preview.Content | base64Encode }})"{{ end }}>
  <svg width="{{ $img.Width }}" height="{{ $img.Height }}" aria-hidden="true"></svg>
  <img
    loading="lazy"
    srcset="
    {{ if ge $src.Width `500` }}
      {{ with $small.RelPermalink }}{{ . }} 820w,{{ end }}
    {{ end }}
    {{ if ge $src.Width `1000` }}
      {{ $medium.RelPermalink }}{{ else }}{{ $src.RelPermalink }}{{ end }} 1200w
    {{ if ge $src.Width `1500` }}
      {{ with $large.RelPermalink }}, {{ . }} 1500w{{ end }}
    {{ end }}"
    sizes="(max-width: 672px) 100vw, 960px"
    src="{{ $small.RelPermalink }}"
    width="{{ $img.Width }}"
    height="{{ $img.Height }}"
    alt="{{ with .Params.alt }}{{ . }}{{ else }}{{ .Title }}{{ end }}"
  >
</div>