.post-header {
  max-width: 82rem;
  margin-bottom: calc(var(--spacing) / 1.25);
  padding-top: 4rem;

  & > img {
    object-fit: contain;
    width: 100%;
    max-height: 24rem;
    margin-bottom: 2rem;
  }

  & > *:not(img) {
    max-width: var(--content-max-width);
    margin-left: auto;
    margin-right: auto;
  }

  & > h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;

    &::after {
      height: 0.175em;
    }
  }

  & > .post-meta {
    font-size: 1.25rem;
    color: var(--body);
    display: flex;
    align-items: center;

    & > img {
      height: 3.25rem;
      width: 3.25rem;
      border-radius: 50%;
      filter: grayscale(1) contrast(1.125) brightness(1.1);
    }

    & > div {
      margin-left: 1rem;
      line-height: 1;

      & > address {
        font-family: var(--header-font);
        color: var(--header);
        display: block;
        margin-bottom: 0.25rem;
        font-size: 1.375rem;
      }

      & > time {
        display: block;
        font-size: 0.975rem;
      }
    }
  }
}