.post-header {
  max-width: 80rem;
  margin-bottom: calc(var(--spacing) / 3);
  padding-top: 2rem;

  & > .img {
    margin-bottom: 4rem;
    border-radius: 0.5rem;
    overflow: hidden;

    &,
    & svg,
    & img {
      max-height: 22rem;
    }
  }

  & > *:not(.img) {
    max-width: var(--content-max-width);
    margin-left: auto;
    margin-right: auto;
  }

  & > h1 {
    font-size: 2rem;
    padding-bottom: 0;
    margin-bottom: 0.5rem;

    &::after {
      display: none
    }
  }

  & > .post-meta {
    font-size: 1rem;
    color: var(--body);
    display: flex;
    align-items: center;

    & > div {
      margin-left: 1rem;
      line-height: 1;

      & > time {
        display: block;
        font-size: 0.925em;
      }
    }
  }
}

body.page.posts .page__content {
  & > * {
    text-align: left;
  }

  & > :--heading::after {
    left: 0;
    transform: none;
  }
}

.post-author {
  display: flex;
  margin-top: calc(var(--spacing) * 0.75);

  & > .avatar {
    flex: 0 0 auto;
    font-size: 8rem;
  }
}

.post-author-bio {
  margin: 1rem 0 0 2rem;

  & > address {
    font-family: var(--header-font);
    color: var(--header);
    font-style: normal;
    font-weight: bold;
    display: block;
    margin-bottom: 0;
    font-size: 1.75rem;
    line-height: 1.5;
    letter-spacing: var(--letter-spacing-wide);
  }

  & > p {
    line-height: 1;
    font-size: 1rem;
  }
}

@media (--viewport-small) {
  .post-author {
    justify-content: center;
  }

  .post-author > .avatar {
    font-size: 7.75rem;
  }

  .post-author-bio {
    margin-top: 1.5rem;
    margin-left: 1.25rem;
  }
}
