.blog-list-header {
  padding: 2rem 0;
  margin-bottom: var(--spacing);

  & > h1 {
    font-size: 3rem;

    &::after {
      height: 0.125em;
    }
  }

  & > p {
    font-size: 1.25rem;
  }
}

.post-item {
  margin: 0 auto var(--spacing);
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  padding-bottom: 0.001rem;
  overflow: hidden;

  & > header {
    & > a {
      margin-bottom: 0.5rem;
      display: block;

      & > .img {
        &,
        & svg,
        & img {
          height: 12rem;
        }
      }
    }

    & > h2 {
      color: var(--header);
      margin-bottom: 1rem;
      font-size: 1.75rem;

      & > a {
        color: currentColor;
      }
    }

    & > .post-meta {
      margin-bottom: 1.5rem;
      font-size: 0.95rem;
    }
  }

  & > p,
  & > header > *:not(a) {
    width: var(--content-width);
    margin-left: auto;
    margin-right: auto;
  }
}
