.post-item {
  margin: 0 auto calc(var(--spacing) / 1.5);
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  border: 1px solid #f1f1f1;
  overflow: hidden;

  & > header {
    & > a {
      margin-bottom: 1rem;
      display: block;

      & > .img {
        &,
        & svg,
        & img {
          height: 12rem;
        }
      }
    }

    & > h2 {
      color: var(--header);
      margin-bottom: 1rem;
      font-size: 1.75rem;

      & > a {
        color: currentColor;
      }
    }

    & > .post-meta {
      margin-bottom: 1.5rem;
      font-size: 0.95rem;
    }
  }

  & > p,
  & > header > *:not(a) {
    width: var(--content-width);
    margin-left: auto;
    margin-right: auto;
  }
}
